langchain
chromadb
sentence-transformers
ollama
pymupdf
python-docx
fastapi
uvicorn
pydantic
numpy
pandas
tqdm

crewai
streamlit
langfuse
ragas

pymupdf
python-docx
pillow
paddleocr
paddlepaddle
python-dotenv