langchain
sentence-transformers
ollama
pymupdf
python-docx
fastapi
uvicorn
pydantic
numpy
pandas
tqdm

crewai
streamlit
langfuse
ragas

pymupdf
python-docx
pillow
python-dotenv

rank-bm25
requests
langchain-text-splitters
scikit-learn
faiss-cpu
nltk